<app-header></app-header>
<ion-content class="background2">
  <h2 class="full-width">Todos mis pedidos</h2>

  <!-- *ngIf="login == true && rol == 'Usuario'" -->
  <section class="u-clearfix u-section-1" id="sec-abdc">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div *ngFor="let datos of precios" class="u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
              <div class="u-container-style u-custom-color-2 u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">{{ datos.nombre }} {{ datos.apellido }}</h4>
                  <span class="u-icon u-icon-1">
                    <div class="circle-container">
                      <img [src]="datos.image" >
                    </div> 
                  </span>
                  <br>
                  <br>
                  <h6><strong>Desde:</strong> {{ datos.uDesde }}</h6>
                  <h6><strong>Hasta:</strong> {{ datos.uHasta }}</h6>
                  <h6><strong>Fecha:</strong> {{ datos.fecha }}</h6>
                  <h6><strong>Hora:</strong> {{ datos.hora }}:{{ datos.minutos }}</h6>
                  <h6><strong>Cargamento:</strong> {{ datos.cargamento }}</h6>
                  <h6><strong>Tipo de Vehiculo:</strong> {{ datos.tipoVehiculo }}</h6>
                  <h6><strong>¿Ayudantes?:</strong> {{ datos.ayudantes }}</h6>
                  <h6><strong>Precio:</strong> ${{ datos.precio }}</h6>
                  <h6><strong>Fletero:</strong> {{ datos.respuesta?.nombre }} {{ datos.respuesta?.apellido }}</h6>
                  <h6><strong>ID del fletero:</strong> {{ datos.respuesta?.idFletero }}</h6>

                  <button (click)="recomendarFletero(datos.respuesta?.idFletero)" 
                          [disabled]="autenticandoUsuario || !botonVisible"
                          class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-3 u-radius-50 u-btn-2">
                    {{ !botonVisible ? 'Recomendado' : 'Recomendar' }}
                  </button>

                  <ion-modal [isOpen]="isModalOpen">
                    <ng-template>
                      <ion-header>
                        <ion-toolbar color="dark">
                          <ion-title>Respuestas de los Fleteros</ion-title>
                          <ion-buttons slot="end">
                            <ion-button (click)="cerrar(false)">Cerrar</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                      </ion-header>
                      <ion-content>
                        <div *ngIf="respuestas && respuestas.length > 0" class="ion-text-center">
                          <ul class="respuestas-list">
                            <li *ngFor="let respuesta of respuestas" class="ion-text-center">
                              <ion-card color="medium" class="informacion-card">
                                <ion-card-header color="dark">
                                  <h4>{{ respuesta.nombre }} {{ respuesta.apellido }}</h4>
                                </ion-card-header>
                                <h4 class="precio">${{ respuesta.precio }}</h4>
                                <br>
                                <br>
                              </ion-card>
                            </li>
                          </ul>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
<app-tabs-u></app-tabs-u>
