


<app-header></app-header>
<ion-content class="background2">
  <div style="text-align: center; padding: 50px;">
    <h1>¡Gracias por elegir FletesYa!</h1>
    <h4>Si quieres registrarte para pedir un flete.</h4>
    <h5>Debe llenar este formulario</h5>
    <button style="margin-right: 10px;" (click)="volver()">Volver</button>
    <ion-button id="open-modal" expand="block">Open</ion-button>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Ingrese sus datos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="background2">
        
        <section class="u-clearfix u-section-1" id="sec-b6f0">
        <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-custom-color-7 u-expanded-width-xs u-group u-radius-24 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
         <div class="u-form u-palette-1-light-3 u-radius-14 u-form-1">
           <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
        
             <div class="u-form-group u-form-name u-label-top u-form-group-2">
               <label for="name-ae7a" class="u-label">Email</label>
               <input [(ngModel)]="registerU.email" type="email" placeholder="Ingrese su Email" id="name-ae7a" name="name-3" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required="">
               <!-- <div *ngIf="registroForm.controls['email'].errors?.required && registroForm.controls['email'].dirty" class="error-message">
                 El correo electrónico es obligatorio.
               </div>
               <div *ngIf="registroForm.controls['email'].errors?.email && registroForm.controls['email'].dirty" class="error-message">
                 Por favor, ingrese una dirección de correo electrónico válida.
               </div> -->
             </div>
             <div class="u-form-group u-form-name u-label-top u-form-group-2">
               <label for="name-ae7a" class="u-label">Contraseña</label>
               <input  [(ngModel)]="registerU.password"  type="text" placeholder="Ingrese su contraseña" id="name-ae7a" name="name-3" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required="">
             </div>
             
             <div (click)="siguiente()" class="u-align-center u-form-group u-form-submit u-label-top">
               <a  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-1">Enviar<br>
               </a>
               <input type="submit" value="submit" class="u-form-control-hidden">
             </div>
             <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
             <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
             <input type="hidden" value="" name="recaptchaResponse">
             <input type="hidden" name="formServices" value="d9280f9b08b1809d357e7ca9476e0a23">
           </form>
         </div>
        </div>
        </div >
        <a (click)="signInWithGoogle()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-custom-color-6 u-palette-1-light-2 u-radius-50 u-btn-2"><span class="u-file-icon u-icon u-icon-1"><img src="../../.././../../assets/imagesLogin/300221.png" alt=""></span>&nbsp; &nbsp; Ingresar con google
        </a>
        </div>
        </section>
      </ion-content>
    </ng-template>
  </ion-modal>
  </div>
  
  
  
</ion-content>
  