.searcho{
    width: 30%;
    margin-left: 25%;
    .search {
        margin-bottom: 20px;
     
        ion-item {
            border-radius: 10px;
            box-shadow: 0px 13px 30px 0px rgba(210, 4, 4, 0.968);
            padding: 8px;
    
            ion-icon {
                margin-right: 16px;
            }
    
            ion-input {
                padding-left: 10px !important;
                border-left: 1px solid #F4F4F4;
            }
        }
    }
}

.header{
    box-shadow: 0px 13px 30px 0px rgba(21, 24, 57, 0.968);
}
@media only screen and (min-width : 1338) and (max-width : 336px){
    .searcho{
        height: 100%;
    }
    }
