<app-header></app-header>
<ion-content class="background2">

  <!-- *ngIf="login == true && rol == 'Usuario'" -->
  <section class="u-clearfix u-section-1" id="sec-abdc">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div *ngFor="let datos of precios"  class="u-container-style u-list-item u-palette-1-light-3 u-repeater-item u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
              <div  class="u-container-style u-custom-color-2 u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">{{datos.nombre}} {{datos.apellido}}</h4><span class="u-icon u-icon-1">  
                    <div class="circle-container">
                    <img [src]="datos.image" >
                  </div> </span><span class="u-file-icon u-icon u-icon-2"></span>
<br>
<br>
<h6><strong>Desde:</strong> {{ datos.uDesde }}</h6>
<h6><strong>Hasta:</strong> {{ datos.uHasta }}</h6>
<h6><strong>Fecha:</strong> {{ datos.fecha }}</h6>
<h6><strong>Hora:</strong> {{ datos.hora }}:{{ datos.minutos }}</h6>
<h6><strong>Cargamento:</strong> {{ datos.cargamento }}</h6>
<h6><strong>Tipo de Vehiculo:</strong> {{ datos.tipoVehiculo }}</h6>
<h6><strong>¿Ayudantes?:</strong> {{ datos.ayudantes }}</h6>
      



<!-- VerPedido -->





<!-- <a (click)="verPedidos()" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-1">Ver pedido</a> -->
</div>
</div>
<div (click)="verPedidos(true, datos)" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-3 u-radius-50 u-btn-2">
<a>Ver {{ contarRespuestas() }} Respuestas</a>
</div >
<!-- <ion-button   (click)="verPedidos(true, datos)"class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-3 u-radius-50 u-btn-2">Ver Respuestas</ion-button> -->
<ion-modal class="background2"  [isOpen]="isModalOpen">
  <ng-template >
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title >Respuestas de los Fleteros</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrar(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <div *ngIf="respuestas && respuestas.length > 0" class="ion-text-center">
        <ul class="respuestas-list">
          <li *ngFor="let respuesta of respuestas">
            <ion-item class="item-respuesta" >
              <ion-label>{{ respuesta.nombre }} {{ respuesta.apellido }}</ion-label>
              <ion-label>${{ respuesta.precio }}</ion-label>
              <ion-button class="boton-aceptar" (click)="moverPedidoAPedidosFinalizados(datos, respuesta)">Aceptar</ion-button>
            </ion-item>
          </li>
        </ul>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
            </div>
          </div>


          <div class="u-container-style u-list-item  u-repeater-item u-list-item-1">
            <div class="u-container-layout tu-clase-de-borde u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
              <div class="u-container-style u-custom-color-2 u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">TuFleteYa</h4>   
                  <span class="u-icon u-icon-1">  
                    <div class="circle-container">
                      <img src="../../../../../assets/icon/favicon.jpg">
                    </div> 
                  </span>
                  <span class="u-file-icon u-icon u-icon-2"></span>
                  <br><br>
                  <h6><strong>¡Saludos de parte de <span style="color: #4CAF50;">TuFleteYa</span>!</strong></h6>
                  <h6>En esta sección podrás acceder a todos los <strong>pedidos</strong> y las <strong>respuestas</strong> de los fleteros.</h6>
                  <h6><strong>¡Cuidamos de tu integridad!</strong> Todos nuestros fleteros son personas verificadas.</h6>
                  <h6><strong>Tus comentarios</strong> y <strong>críticas constructivas</strong> nos ayudan a mejorar nuestro servicio.</h6>
                  <h6><strong>VERSION DEMO</strong></h6>
                </div>
              </div>
            </div>
          </div>
          
          <div class="u-container-style u-list-item  u-repeater-item u-list-item-1">
            <div class="u-container-layout tu-clase-de-borde u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
              <div class="u-container-style u-custom-color-2 u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <h4 class="u-text u-text-1">HISTORIAL</h4>   
                  <span class="u-icon u-icon-1">  
                    <div class="circle-container">
                      <img src="../../../../../assets/icon/favicon.jpg">
                    </div> 
                  </span>
                  <span class="u-file-icon u-icon u-icon-2"></span>
                  <br><br>
                  <h6>Consulta el <strong>historial de tus pedidos</strong></h6>
                  <h6>Estamos trabajando para brindarte un servicio de calidad.</h6>
                  <h6>Haz clic en el botón para ver tus pedidos</h6>
                  <button (click)="VerPedidoss()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-3 u-radius-50 u-btn-2"><strong>Ver Historial</strong></button>
                  <br>
                </div>
              </div>
            </div>
          </div>
          








        </div>
      </div>
    </div>
  </section>
</ion-content>
<app-tabs-u></app-tabs-u>