<section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-center-xs u-align-left-sm u-clearfix u-section-1" id="carousel_4a3c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-1" data-lang-en="​My name is ​Nat ​Norton.
<br>Digital Product Designer">Perfil</h2>
    <div class="u-border-7 u-border-grey-10 u-image u-image-circle u-image-1" data-image-width="501" data-image-height="501" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
    <h2 class="u-align-center u-text u-text-2" data-lang-en="​My name is ​Nat ​Norton.
<br>Digital Product Designer">Nombre y apellido</h2>
    <h5 class="u-align-center u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-lang-en="​Head of Design Studio">Fletero</h5>
    <a href="https://nicepage.com/c/food-restaurant-website-templates" class="u-active-none u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-light-3 u-btn u-button-style u-hover-none u-none u-text-active-grey-30 u-text-body-alt-color u-text-hover-grey-25 u-btn-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="../../../assets/imagesProfile/3447476-457ca6c1.png" alt=""></span>&nbsp;Chatea ahora
    </a>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../assets/imagesProfile/1250592-1cc8e92b.png" alt=""></span>
            <h4 class="u-text u-text-4" data-lang-en="​Graphic Design">Contacto</h4>
            <h6 class="u-text u-text-5">Titular de muestra</h6>
            <h6 class="u-text u-text-6">Titular de muestra</h6>
            <h6 class="u-text u-text-7">Titular de muestra</h6>
            <h6 class="u-text u-text-8">Titular de muestra</h6>
          </div>
        </div>
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../assets/imagesProfile/3097192-cdaddaa6.png" alt=""></span>
            <h4 class="u-text u-text-9" data-lang-en="​Web Design">Tipo de vehiculo</h4>
            <h6 class="u-text u-text-10">Titular de muestra</h6>
            <h6 class="u-text u-text-11">Titular de muestra</h6>
            <h6 class="u-text u-text-12">Titular de muestra</h6>
            <h6 class="u-text u-text-13">Titular de muestra</h6>
          </div>
        </div>
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../assets/imagesProfile/4552640-50f2d8fb.png" alt=""></span>
            <h4 class="u-text u-text-14" data-lang-en="​Software"> Datos personales</h4>
            <h6 class="u-text u-text-15">Titular de muestra</h6>
            <h6 class="u-text u-text-16">Titular de muestra</h6>
            <h6 class="u-text u-text-17">Titular de muestra</h6>
            <h6 class="u-text u-text-18">Titular de muestra</h6>
          </div>
        </div>
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../assets/imagesProfile/148808.png" alt=""></span>
            <h4 class="u-text u-text-19" data-lang-en="​Application"> Aptitudes</h4>
            <h6 class="u-text u-text-20">Titular de muestra</h6>
            <h6 class="u-text u-text-21">Titular de muestra</h6>
            <h6 class="u-text u-text-22">Titular de muestra</h6>
            <h6 class="u-text u-text-23">Titular de muestra</h6>
          </div>
        </div>
      </div>
    </div>
    <a href="https://nicepage.com/c/food-restaurant-website-templates" class="u-active-none u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-light-3 u-btn u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-grey-15 u-btn-2"><span class="u-file-icon u-icon u-text-white u-icon-6"><img src="../../../assets/imagesProfile/3447476-457ca6c1.png" alt=""></span>&nbsp;Chatea ahora
    </a>
  </div>
</section>