
<section *ngIf="DatosF">
    <div class="card">
    <div class="ds-top"></div>
    <div class="avatar-holder">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1820405/profile/profile-512.jpg?1533058950" alt="Albert Einstein">
    </div>
    <div class="name">
      <H2 href="https://codepen.io/AlbertFeynman/" target="_blank">{{DatosF.nombre}} {{DatosF.apellido}}</H2>
      <H3 title="Followers"><i class="fas fa-users"></i> <span class="followers"> {{DatosF.edad}} años</span></H3>
      <div class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosF.domicilio}} </H3>
      </div>
      <div class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosF.email}} </H3>
      </div>
      <div class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosF.telefono}} </H3>
      </div>
      <H3  class="u-text u-text-7">Datos Vehiculares:</H3>
      <div class="skill html">
        <H3 *ngIf="DatosV" class="u-text u-text-7">{{ DatosV.marca }} {{ DatosV.modelo }} // {{DatosV.patente}}</H3>
      </div>
      <div  class="container text-center mt-4">
        <div class="row">
          <div class="col">
            <div class="recommendation-box">
              <!-- <i class="fas fa-thumbs-up"></i> -->
              <h2 class="mb-0">{{ DatosF.recomendacion }} Recomendaciones</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


