<ion-content padding class="background2" >

  <div class="container">
    <div class="wrapper">
      <ul id="progressbar">
        <li class="active">Datos personales</li>
        <li>Datos del vehiculo</li>
        <li>Perfil</li>
      </ul>
      <form class="form-wrapper">
        <fieldset class="section is-active">
          <h3>Your Details</h3>
          <input type="text" name="name" id="name" placeholder="Name">
          <input type="text" name="email" id="email" placeholder="Email">
          <input type="button"  name="next" class="button2" value="Atras" (click)="atras()"  />
          <input type="button"  name="next" class="button2" value="Siguiente"  (click)="siguiente()"  />
          
        </fieldset>
</form>
    </div>
  </div>
</ion-content>