<ion-content class="background2">

  <div class="container">
    <div class="wrapper">
      <form class="form-wrapper">
        <fieldset (ionChange)="tipoRegister($event)" class="section is-active">
          <ul class="steps">
            <li class="is-active">Tipo de registro</li>
          </ul>
          

                <div >
                  <div class="row cf">
                    <div class="four col">
                      <input type="radio" name="r1" id="r1"  value="User" (click)="user()" checked>
                      <label for="r1">
                        <h4>Usuario</h4>
                      </label>
                    </div>
                    <!--  -->
                    <div class="four col">
                      <input type="radio" name="r1" id="r2"  value="Fletero" (click)="fletero()" >
                        <label for="r2" >
                            <h4>Fletero</h4>
                          </label>
                        </div>
                      </div>
                    </div>
  </fieldset>
  </form>
      </div>
  </div>
</ion-content>