<app-header></app-header>
<ion-content  class="background2">


  
  
  <section class="u-clearfix u-section-1" id="sec-ec26">
    <h1 class="u-align-center u-text u-text-5">Registrarse de manera gratuita</h1>
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-gutter-92 u-layout-wrap u-palette-4-light-2 u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-palette-4-light-2 u-size-30 u-layout-cell-1">
              <div (click)="user()" class="u-container-layout u-valign-bottom-sm u-valign-top-xs u-container-layout-1">
                <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-image-default u-image-1" alt="" data-image-width="1280" data-image-height="1065" src="../../../assets/imagesLogin/7692d36a42ae72047ff53ffe606a1b5b04dab583806976d746026ce12862a027527b42b05b0b7fc769218431f14da31fcda31c05d2c9ac089d0800_1280.png">
                <h4 class="u-align-center u-text u-text-1">Usuario</h4>
                <p class="u-align-left u-text u-text-2">Puedes pedir el flete que necesites de manera gratuita, muy simple</p>
                <a  class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1"> Registrarme&nbsp;</a>
              </div>
            </div>
            <div (click)="fletero()" class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout  u-container-layout-2">
                <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-image-default u-image-2" alt="" data-image-width="1280" data-image-height="1280" src="../../../assets/imagesLogin/4fe463e9c6d8905ee05785428367d949fe17798d79144eecec9895886709e3d9018e5a3d8a81fe2334e44b23d2ba10e7052acd141719c5af66d065_1280.png">
                <h4 class="u-align-center u-text u-text-3">Fletero</h4>
                <p class="u-align-left u-text u-text-4">Puedes pedir el flete que necesites de manera gratuita, muy simple</p>
                <a class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-2"> Registrarme&nbsp;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

</ion-content>