<app-header></app-header>

<ion-content padding class="background2">

  <div class="login">
    <div class="login-header">
      <h1>Iniciar Sesion</h1>
    </div>
    <div class="login-form">
      <h3>Email</h3>
      <input type="text" placeholder="Email"/><br>
      <h3>Contraseña</h3>
      <input type="password" placeholder="Contraseña"/>
      <br>
      <input type="button" value="Login" class="login-button"/>
      <br>
      <br>
      <br>
      <div class="buttons">
        <button class="google-btn">
          <picture>
            <img src="../../../assets/Google__G__Logo.svg_.png" alt="logo-google"/>
          </picture>
            <span>Registrarse con Google</span>
        </button>
    </div>
      <br>
      <!-- <h6 class="no-access">Can't access your account?</h6> -->
    </div>
  </div>

    
</ion-content>