<app-header></app-header>
<ion-content class="background2">

  <div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">
    <ion-title >Iniciar sesion</ion-title>
    <div class="signup">
      <form>
        <input [(ngModel)]="credenciales.email" name="email" placeholder="Email" required="" >
        <input [(ngModel)]="credenciales.password" name="Password" placeholder="Contraseña" required="">
        <button (click)="login()">Iniciar Sesion</button>
      </form>
    </div>
    
    <div class="registrarse">
      <form>
        <label for="chk" aria-hidden="true">Registrarse</label>
        <div >
          <div class="row cf">
            <div class="four col">
              <button class="btn" (click)="user()">Usuario</button>
            </div>
            <!--  -->
            <div class="four col">
              <button class="btn"(click)="fletero()">Fletero</button>
                </div>
              </div>
            </div>
      </form>
    </div>
  </div>
</ion-content>