
<app-header></app-header>

<ion-content class="background2">

  <div>
    <h1>Listado de Fleteros</h1>
    <ul>
      <li *ngFor="let enlace of enlacesWhatsApp">
        <a [href]="enlace" target="_blank">Enlace de WhatsApp</a>
      </li>
    </ul>
  </div>

  
  </ion-content>
  



  <!-- <ion-button id="open-modal" expand="block">Open</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="alta(dato)" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Precio" [(ngModel)]="rta.precio"></ion-input>
          <ion-input type="text" placeholder="Mensaje" [(ngModel)]="rta.mensaje"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal> -->
