<ion-content class="background">

<!-- boton modal -->

<ion-button color="tee" (click)="setOpen(true)">Open</ion-button>
<ion-modal  [isOpen]="isModalOpen">
  <ng-template >
    <ion-header >
      <ion-toolbar>
        <ion-title>Chat Virtual</ion-title>
        <ion-buttons slot="end">
          <!-- <ion-button (click)="setOpen(false)">Close</ion-button> -->
          <ion-button (click)="setOpen(false)"  class="logout" >Salir</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div id="wrapper">
        <div id="menu">
              <p class="welcome">Bienvenido al chat virtual <b></b></p>
              <!-- <p class="logout"><a id="exit" href="#">Exit Chat</a></p> -->
              <!-- <ion-button slot="end" class="logout" color="danger">Salir</ion-button> -->
              <div style="clear:both"></div>
          </div>
           
          <div id="chatbox">
            <ion-item >
              <ion-avatar slot="start">
                <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
              </ion-avatar>
              <ion-label>Juan Diaz</ion-label>
              <!-- <ion-text> Hola quiero pedir un flete, soy de rawson, hasta chimbas, es un mueble</ion-text> -->
            </ion-item>

            <ion-item >
              <ion-avatar slot="end">
                <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
              </ion-avatar>
              <ion-label slot="end">Martin Diaz</ion-label>
            </ion-item>
          </div>
           
          <form name="message" action="">
              <input name="usermsg" type="text" id="usermsg" size="63" />
              <ion-button name="submitmsg" class="send" color="primary">Enviar</ion-button>
              <!-- <input name="submitmsg" type="submit"  id="submitmsg" value="Send" /> -->
          </form>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  <!-- Scroll -->
  
</ion-content>