<!-- <ion-content  class="background2">
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="valueSelected" >
        <ion-segment-button (click)="getUser()" value="1">
          <ion-label>Usuarios</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="getFletero()" value="2">
          <ion-label>Fleteros</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div   *ngIf="valueSelected == 1">
      <ion-list>
        <ion-item *ngFor="let item of itemsU; let index">
          <ion-avatar slot="start">
            <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
          </ion-avatar> 
          <ion-label>{{ item.nombre }} {{ item.apellido }}</ion-label>
          <ion-label slot="end">{{ item.dni }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div   *ngIf="valueSelected == 2">
      <ion-list>
        <ion-item *ngFor="let item of itemsF; let index">
          <ion-avatar slot="start">
            <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
          </ion-avatar> 
          <ion-label>{{ item.nombre }} {{ item.apellido }}</ion-label>
          <ion-label slot="end">{{ item.dni }}</ion-label>
          <ion-button *ngIf="DatoVehicular" slot="end" id="present-alert">Vehiculo</ion-button>
              <ion-alert 
                trigger="Datos vehicular"
                header="Alert"
                subHeader="Important message"
                message="This is an alert!"
                [buttons]="alertButtons"
              ></ion-alert>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

</ion-content> -->
