<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="light">
          <img class="logo" slot="start"  routerLink="/home" src="../assets/icon/favicon.png" width="260" height="130" />
      </ion-toolbar>
    </ion-header>
    <ion-content>
     
      <ion-list class="back-menu" >
       
          <!-- Lista de menu -->
          <ion-menu-toggle   >

            <ion-item  *ngIf="login == true " [routerLink]="['/profile']" color="light"  >
              <ion-label >
                Perfil
              </ion-label>
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </ion-item>

              <ion-item  *ngIf="login == true && rol == 'Fletero'" [routerLink]="['/home2']" color="light"  >
                <ion-label >
                  home2
                </ion-label>
                <ion-icon slot="start" name="home-outline"></ion-icon>
              </ion-item>
          
              <ion-item *ngIf="login == true && rol == 'Usuario'"  [routerLink]="['/home']"  color="light"  >
                <ion-label  > 
                  Home
                </ion-label>
                <ion-icon slot="start" name="home-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf="rol === 'Fletero' && login == true " [routerLink]="['/maps']" color="light"  >
                <ion-label  > 
                  Maps
                </ion-label>
                <ion-icon slot="start" name="home-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf="rol === 'Usuario' && login == true "  [routerLink]="['/fletes']" color="light"  >
                <ion-label > 
                  Quiero pedir un flete
                </ion-label>
                <ion-icon slot="start" name="car-outline"></ion-icon>
              </ion-item>


              <ion-item *ngIf="login == true && rol === 'Usuario'" [routerLink]="['/chat']" color="light"  >
                <ion-label >
                Chat
                </ion-label>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf="rol === 'Admin' && login == true " [routerLink]="['/admin']" color="light"  >
                <ion-label >
                Admin
                </ion-label>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-item>

          </ion-menu-toggle>
        
    
 </ion-list >


      <ion-list class="back-menu" id="labels-list">
        <ion-menu-toggle   >
          
          <ion-item *ngIf="login == false" [routerLink]="['/login']" color="light"  >
            <ion-label >
            Iniciar Sesion
            </ion-label>
            <ion-icon slot="start" name="person-outline"></ion-icon>
          </ion-item>

          <ion-item  *ngIf="login" (click)="logout()" color="light" >
            <ion-label>
            Cerrar Sesion 
            </ion-label>
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
          </ion-item>
          
          <ion-item *ngIf="login == false" color="light" >
            <ion-label [routerLink]="['/register']">
            Registrarse
            </ion-label>
            <ion-icon slot="start" name="add"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
