.back-menu{
  background: rgb(183,181,226);
  background: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgb(6, 103, 27) 0%, rgba(159,131,87,1) 50%, rgba(166,109,23,1) 99%);
}

.background2{
	--ion-background-color: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgba(41,174,228,1) 0%, rgba(12,49,62,1) 0%, rgba(6,102,80,1) 50%, rgba(12,49,62,1) 100%);
	}