<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar >
          <img class="logo" slot="start"  routerLink="/home" src="../assets/icon/favicon.png" width="310" height="auto" />
      </ion-toolbar>
    </ion-header>
    <ion-content class="background2">
     
      <ion-list  class="background2" >
       
          <!-- Lista de menu -->
          <ion-menu-toggle class="background2"   >

            <ion-item  *ngIf="login == true " class="menu-item" [routerLink]="['/profile']"   >
              <ion-label >
                Perfil
              </ion-label>
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </ion-item>

          
              <ion-item *ngIf="login == true "  class="menu-item" [routerLink]="['/home']"    >
                <ion-label  > 
                  Inicio
                </ion-label>
                <ion-icon slot="start" name="home-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf="rol === 'Usuario' && login == true " class="menu-item" [routerLink]="['/precios']"  >
                <ion-label  > 
                  Mis pedidos
                </ion-label>
                <ion-icon slot="start" name="home-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf="rol === 'Usuario' && login == true " class="menu-item"  [routerLink]="['/fletes']"   >
                <ion-label > 
                  Quiero pedir un flete
                </ion-label>
                <ion-icon slot="start" name="car-outline"></ion-icon>
              </ion-item>
              
              <!-- && rol === 'Usuario' -->

              <ion-item *ngIf="login == true"  class="menu-item" [routerLink]="['/chat']"   >
                <ion-label >
                Chat
                </ion-label>
                <ion-icon  slot="start" name="chatbubbles-outline"></ion-icon>
              </ion-item>

              <ion-item *ngIf=" login == true && rol === 'Admin' " class="menu-item" [routerLink]="['/admin']"  >
                <ion-label >
                Admin
                </ion-label>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-item>

          </ion-menu-toggle>
        
    
 </ion-list >


 <ion-list class="background2" id="labels-list">
  <ion-menu-toggle    >
    
    <ion-item *ngIf="login == false" [routerLink]="['/login']" >
      <ion-label >
      Iniciar Sesion
      </ion-label>
      <ion-icon slot="start" name="person-outline"></ion-icon>
    </ion-item>

    <ion-item  *ngIf="login" (click)="logout()"  >
      <ion-label>
      Cerrar Sesion 
      </ion-label>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
    </ion-item>
    <!--   -->
    <ion-item *ngIf="login == false" [routerLink]="['/registrarse']">
      <ion-label >
      Registrarse
      </ion-label>
      <ion-icon slot="start" name="add"></ion-icon>
    </ion-item>
  </ion-menu-toggle>
</ion-list>



      
    </ion-content>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-516d"><div class="u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <H2  target="_blank">
        <span>FletesYa</span>
      </H2>
      <p class="u-"text>
        <span>Todos los derechos reservados.</span>
      </p>
      <a class="u-link" href="https://wa.link/r5b8g2" target="_blank">
        <span>Contactanos via Whatsapp</span>
      </a>. 
    </section>

  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
