.map-container {
    width: 100%; /* Ancho del contenedor, puedes ajustarlo según tus necesidades */
    height: 600px; /* Altura del contenedor, puedes ajustarlo según tus necesidades */
    border-radius: 1rem;
    border: solid 5px white;
    box-shadow: 0 12.5 10px rgba($color: #086f2c, $alpha: 1.0), 0 100px 80px rgba(0, 0, 0, 0.07);
}
  
marker{
    width: 50px;
    height: 50px;
    // background-color: red;
    background-image: url("../../../assets/imagesFletesDis/1679557.png");
    background-size: Contain;
    background-repeat: no-repeat;
    background-position: center;
}


.box-inputs{
    background-color: rgb(120, 158, 120);
    width: 100%;
    border-radius: .5rem;
    border: solid 2px #ccc;
    padding: 1rem ;
    box-shadow: 0 12.5 10px rgba($color: #bdccc2, $alpha: 1.0), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.mock-input{
    background: rgb(11, 112, 94);
    padding: .5rem ;
    margin-bottom:.5rem ;
    box-shadow: 0 0 10px rgba($color: #086f2c, $alpha: 1.0);
    color: #000000;
    min-height: 18px;
}

.mock-label{
    padding: .25rem;
    font-weight: 600;
}

.geocoder{
    margin-bottom: .5rem;
}


.geocoder, .mapboxgl-ctrl{
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background-color: white;
}

.active-way{
    border: solid 2px #110101;
    box-shadow: 0 0 10px #110101 ;
}

.btn-route{
    background-color: rgb(7, 3, 3);
    padding: .5rem 1rem;
    border: solid 2px gray;
}

.wrapper{

    padding: 2rem ;
    display: flex ;
    justify-content: center;
}

.background2{
    --ion-background-color: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgba(41,174,228,1) 0%, rgba(12,49,62,1) 0%, rgba(6,102,80,1) 50%, rgba(12,49,62,1) 100%);
    }



    /* Clase para el botón verde */
.green-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .green-button:hover {
    background-color: #45a049; /* Cambia el color al pasar el mouse */
  }
  
  /* Clase para el botón rojo */
  .red-button {
    background-color: #f44336; /* Color rojo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .red-button:hover {
    background-color: #d32f2f; /* Cambia el color al pasar el mouse */
  }
  
  .map-button2 {
    position: absolute;
    font-size: 25px;
    color: red;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    left: 80%; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 1; /* Asegura que el botón esté por encima del mapa */
  }