
  <div id="geocoder" #asGeocoder #map id="map">
    <!-- <button (click)="cerrarModal()"  class="btn btn-warning">Volver</button> -->
  <!-- <button class="btn btn-success" (click)="changeModel('start')" [ngClass]="{'active-way': modeInput === 'start'}">Punto de inicio</button>
  <button class="btn btn-danger" (click)="changeModel('end')" [ngClass]="{'active-way': modeInput === 'end'}">Punto final</button> -->
  <!-- <button (click)="drawRoute()" class="dark-button">Enviar</button> -->
  <button (click)="cerrarModal()" type="button" class="btn btn-info">Enviar ubicaciones</button>
</div>
