<ion-content class="background2">

  <div class="wrapper">
    <button class="green-button" (click)="changeModel('start')" [ngClass]="{'active-way': modeInput === 'start'}">Punto de inicio</button>
    <button  class="red-button" (click)="changeModel('end')" [ngClass]="{'active-way': modeInput === 'end'}">Punto de final</button>
  </div>
  <div class="wrapper">
    <button (click)="drawRoute()" class="btn-route">Dibujar Ruta</button>
  </div>
  <div class="wrapper">
    <div id="geocoder" #asGeocoder class="map-container" #map id="map"></div>
    <button id="cerrarModalButton" class="map-button2">Volver</button>
  </div>
</ion-content>
