
.background2{
    --ion-background-color: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgba(41,174,228,1) 0%, rgba(12,49,62,1) 0%, rgba(6,102,80,1) 50%, rgba(12,49,62,1) 100%);
    }

    .btn-warning{
    position: absolute;
    left: 80%;
    z-index: 1; /* Asegura que el botón esté por encima del mapa */
    }

  
#map {
  height: 100%; /* Ocupa el 100% de la altura de su contenedor (ion-content) */
  width: 100%; /* Ocupa el 100% del ancho de su contenedor (ion-content) */
}

  
  /* Clase para el botón rojo */
  .btn-danger {
    position: absolute;
    top: 90%; /* Ajusta la posición vertical según tus necesidades */
    left: 60%; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 1; /* Asegura que el botón esté por encima del mapa */
  }
  

  .btn-success {
    position: absolute;
    top: 90%; /* Ajusta la posición vertical según tus necesidades */
    left: 10%;
    z-index: 1; /* Asegura que el botón esté por encima del mapa */
  }

  .btn-info{
    position: absolute;
    top: 80%; /* Ajusta la posición vertical según tus necesidades */
    left: 30%; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 1; /* Asegura que el botón esté por encima del mapa */
  }






  