.map-container {
    width: 100%; /* Ancho del contenedor, puedes ajustarlo según tus necesidades */
    height: 600px; /* Altura del contenedor, puedes ajustarlo según tus necesidades */
    border-radius: 1rem;
    border: solid 5px white;
    box-shadow: 0 12.5 10px rgba($color: #086f2c, $alpha: 1.0), 0 100px 80px rgba(0, 0, 0, 0.07);
}
  
marker{
    width: 50px;
    height: 50px;
    // background-color: red;
    background-image: url("../../../assets/imagesFletesDis/1679557.png");
    background-size: Contain;
    background-repeat: no-repeat;
    background-position: center;
}


.box-inputs{
    background-color: rgb(120, 158, 120);
    width: 100%;
    border-radius: .5rem;
    border: solid 2px #ccc;
    padding: 1rem ;
    box-shadow: 0 12.5 10px rgba($color: #bdccc2, $alpha: 1.0), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.mock-input{
    background: rgb(11, 112, 94);
    padding: .5rem ;
    margin-bottom:.5rem ;
    box-shadow: 0 0 10px rgba($color: #086f2c, $alpha: 1.0);
    color: #000000;
    min-height: 18px;
}

.mock-label{
    padding: .25rem;
    font-weight: 600;
}

.geocoder{
    margin-bottom: .5rem;
}


.geocoder, .mapboxgl-ctrl{
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background-color: white;
}

.active-way{
    border: solid 2px #110101;
    box-shadow: 0 0 10px #110101 ;
}

.btn-route{
    background-color: rgb(7, 3, 3);
    padding: .5rem 1rem;
    border: solid 2px gray;
}

.wrapper{

    padding: 2rem ;
    display: flex ;
    justify-content: center;
}

.background2{
    --ion-background-color: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgba(41,174,228,1) 0%, rgba(12,49,62,1) 0%, rgba(6,102,80,1) 50%, rgba(12,49,62,1) 100%);
    }