
<ion-content>

  <section class="u-clearfix u-section-1" id="sec-7d0d">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-custom-color-7 u-group u-radius-24 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-icon-1"><img src="images/1021116.png" alt=""></span>
          <h2 class="u-text u-text-1">Primer paso</h2>
          <h4 class="u-text u-text-2">Fecha y hora</h4>
          <div class="u-form u-palette-1-light-3 u-radius-15 u-form-1">
            <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-12 u-form-vertical u-inner-form" style="padding: 22px;" source="email" name="form">
              <div class="u-form-date u-form-group u-label-top u-form-group-1">
                <label for="date-e295" class="u-label">Fecha</label>
                <input [(ngModel)]="pasosFlete.fecha" type="date"  placeholder="MM/DD/AAAA" id="date-e295" name="date" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy" required="required">
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-2">
                <label for="select-f389" class="u-label">Hora</label>
                <div class="u-form-select-wrapper">
                  <ion-select [(ngModel)]="pasosFlete.hora" [ngModelOptions]="{standalone: true}" aria-label="Fruit" interface="popover" placeholder="Seleccione un horario" required="required">
                    <ion-select-option  *ngFor="let hora  of horas" [value]="hora">{{hora}}</ion-select-option>
                  </ion-select>
                </div>
              </div>
              <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-3">
                <label for="select-d7a9" class="u-label">Minutos</label>
                <div class="u-form-select-wrapper">
                  <ion-select [(ngModel)]="pasosFlete.minutos"  [ngModelOptions]="{standalone: true}"aria-label="Fruit" interface="popover" placeholder="Seleccione minutos" required="required">
                    <ion-select-option  *ngFor="let minutos  of minuto" [value]="minutos">{{minutos}}</ion-select-option>
                  </ion-select>
                </div>
              </div>
              <div  (click)="enviar()"  class="u-align-center u-form-group u-form-submit u-label-top">
                <a  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-8 u-radius-13 u-btn-1">Siguiente<br>
                </a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
              <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
              <input type="hidden" value="" name="recaptchaResponse">
              <input type="hidden" name="formServices" value="d9280f9b08b1809d357e7ca9476e0a23">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

 