<app-header></app-header>
<ion-content class="background2">

<section class="u-clearfix u-section-1" >
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-align-center u-text u-text-1">Complete el formulario</h1>
    <h4 class="u-align-center u-text u-text-2">Debes completar todos los pasos </h4>
    <div class="u-tab-links-align-justify u-tabs u-tabs-1">
      <ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
        <li class="u-tab-item" role="presentation">
          <a class="active u-active-custom-color-1 u-button-style u-tab-link u-tab-link-1" id="link-tab-081f" href="/paso1U" role="tab" aria-controls="tab-081f" aria-selected="true">Personales</a>
        </li>
        <li class="u-tab-item" role="presentation">
          <a class=" active u-active-custom-color-1 u-button-style u-tab-link u-tab-link-2" id="link-tab-3a42" href="/paso2U" role="tab" aria-controls="tab-3a42" aria-selected="false">Direccion</a>
        </li>
        <li class="u-tab-item u-tab-item-3" role="presentation">
          <a class="u-active-custom-color-1 u-button-style u-tab-link u-tab-link-3" id="tab-d7e7" href="/paso3U" role="tab" aria-controls="link-tab-d7e7" aria-selected="false">Email</a>
        </li>
        <li class="u-tab-item u-tab-item-4" role="presentation">
          <a class="u-active-custom-color-1 u-button-style u-tab-link u-tab-link-4" id="tab-6219" href="/paso4U" role="tab" aria-controls="link-tab-6219" aria-selected="false">Imagen</a>
        </li>
      </ul>
      <div class="u-tab-content">
       
        <div class="u-container-style u-tab-pane" id="tab-3a42" role="tabpanel" aria-labelledby="link-tab-3a42">
          <div class="u-container-layout u-container-layout-2">
            <h4 class="u-text u-text-default u-text-4">Provincia y domicilio</h4>
            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-2"></div>
            <div class="u-form u-form-2">
              <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-select u-label-none u-form-group-6">
                  <label for="select-cd15" class="u-label">Provincia</label>
                  <div class="u-form-select-wrapper">
                    <select id="select-cd15" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                      <option value="San Juan">San Juan</option>
                      <option value="Mendoza">Mendoza</option>
                      <option value="San Luis">San Luis</option>
                    </select>
                    <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                  </div>
                </div>
                <div class="u-form-group u-form-name u-label-none u-form-group-7">
                  <label for="name-c891" class="u-label">Nombre</label>
                  <input type="text" placeholder="Introduzca su Domicilio" id="name-c891" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-name u-label-none u-form-group-8">
                  <label for="name-daea" class="u-label">Nombre</label>
                  <input type="text" placeholder="Localidad de" id="name-daea" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                </div>
                <div class="u-align-center u-form-group u-form-submit u-form-group-9">
                  <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-2">Siguiente</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="d9280f9b08b1809d357e7ca9476e0a23">
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
</ion-content>