


<app-header></app-header>
<ion-content class="background2">
  <ion-segment [value]="valueSelected" color="dark">
    <ion-segment-button (click)="btn1()" value="1">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Paso 1</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="btn2()" value="2">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Paso 2</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="btn3()" value="3">
      <ion-icon name="car"></ion-icon>
      <ion-label>Paso 3</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="valueSelected == 1">
        <section class="u-clearfix u-section-1" id="sec-b6f0">
        <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-custom-color-7 u-expanded-width-xs u-group u-radius-24 u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1">
         <div class="u-form u-palette-1-light-3 u-radius-14 u-form-1">
           <form  class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
        
             <div class="u-form-group u-form-name u-label-top u-form-group-2">
               <label for="name-ae7a" class="u-label">Email</label>
               <input [(ngModel)]="registerF.email" type="email" placeholder="Ingrese su Email" id="name-ae7a" name="name-3" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required="">
               <div class="u-form-group u-form-name u-label-top u-form-group-2" *ngIf="registerF.email && customEmailValidator(registerF.email)">
                El correo electrónico debe contener '@' y '.com' .
              </div>
             </div>
             <div class="u-form-group u-form-name u-label-top u-form-group-2">
               <label for="name-ae7a" class="u-label">Contraseña</label>
               <input [(ngModel)]="registerF.password" type="password" placeholder="Ingrese su contraseña" id="name-ae7a" name="name-3" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required="">
              </div>
              <div class="u-form-group u-form-name u-label-top u-form-group-2" *ngIf="registerF.password && customPasswordValidator(registerF.password)">
                La contraseña debe tener al menos 8 caracteres y contener al menos una mayúscula.
              </div>
             
             <div (click)="siguiente()" class="u-align-center u-form-group u-form-submit u-label-top">
               <a  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-1">Siguiente<br>
               </a>
               <input type="submit" value="submit" class="u-form-control-hidden">
             </div>
             <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
             <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
             <input type="hidden" value="" name="recaptchaResponse">
             <input type="hidden" name="formServices" value="d9280f9b08b1809d357e7ca9476e0a23">
           </form>
         </div>
        </div>
        </div >
        <a (click)="signInWithGoogle()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-custom-color-6 u-palette-1-light-2 u-radius-50 u-btn-2"><span class="u-file-icon u-icon u-icon-1"><img src="../../.././../../assets/imagesLogin/300221.png" alt=""></span>&nbsp; &nbsp; Ingresar con google
        </a>
        <a (click)="volver()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-custom-color-6 u-palette-1-light-2 u-radius-50 u-btn-2"><span class="u-file-icon u-icon u-icon-1"></span> Volver
        </a>
        </div>
        </section>
  </div>
  

  <div *ngIf="valueSelected == 2">
  
    <section class="u-clearfix u-section-1" id="sec-b6f0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-custom-color-7 u-expanded-width-xs u-group u-radius-24 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-form u-palette-1-light-3 u-radius-14 u-form-1">
              <form  class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                  <label for="name-7c2c" class="u-label">Nombre</label>
                  <input [(ngModel)]="registerF.nombre" type="text" placeholder="Introduzca su nombre" name="nombre" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required>
                  <div *ngIf="validateNombre()" class="error-message">El nombre debe tener al menos 3 caracteres</div>
                </div>
                
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-2">
                  <label for="name-04dd" class="u-label">Apellido</label>
                  <input [(ngModel)]="registerF.apellido" type="text" placeholder="Introduzca su apellido" id="name-04dd" name="name-2" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required>
                  <div *ngIf="validateApellido()" class="error-message">El apellido debe tener al menos 3 caracteres</div>
                </div>
                
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                  <label for="name-85e7" class="u-label">DNI</label>
                  <input [(ngModel)]="registerF.dni" type="text" placeholder="Introduzca su DNI sin ' . ' o ' , '" name="dni" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" pattern="[0-9]{8}" required>
                  <div *ngIf="validateDNI()" class="error-message">Debe contener 8 dígitos numéricos</div>
                </div>
                
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-4">
                  <label for="name-ae7a" class="u-label">Edad</label>
                  <input [(ngModel)]="registerF.edad" type="number" placeholder="Introduzca su edad" name="edad" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" min="18" max="65" required>
                  <div *ngIf="validateEdad()" class="error-message">La edad debe estar entre 18 y 65 años</div>
                </div>
                
                <div class="u-form-address u-form-group u-label-top">
                  <label for="address-ef4e" class="u-label">Dirección</label>
                  <input [(ngModel)]="registerF.domicilio" type="text" placeholder="Ingrese su dirección" id="address-ef4e" name="address" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required>
                  <div *ngIf="validateDomicilio()" class="error-message">Ingrese su dirección</div>
                </div>
                
              <div class="u-form-group u-form-phone u-label-top">
                <label for="phone-e765" class="u-label">Teléfono</label>
                <input [(ngModel)]="registerF.telefono" type="tel" placeholder="Ingrese su número sin 0" name="telefono" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" pattern="(\+54\s?)?(\d{2,4}[-\s]?)(\d{3,4}[-\s]?)(\d{2}[-\s]?\d{2}[-\s]?\d{2})" required>
                <div *ngIf="validateTelefono()" class="error-message">El número de teléfono no es válido</div>
              </div>
              <div class="u-form-group u-form-phone u-label-top">
                <label for="phone-e765" class="u-label">Foto de perfil</label>
                <input (change)="onImagePerfil($event)" type="file" placeholder="Ingrese su foto de perfil" name="Fotoperfil" class="u-border-1 u-border-grey-60 u-input u-input-rectangle" required #fileInput>
                <div *ngIf="fileInput.invalid && (fileInput.dirty || fileInput.touched)" class="error-message">
                  Por favor, seleccione una foto de perfil.
                </div>
              </div>
                <div (click)="enviar()" class="u-align-center u-form-group u-form-submit u-label-top">
                  <a  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-1">Enviar<br>
                  </a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
              </form>
            </div>
          </div>
        </div>
   
      </div>
    </section>
  </div>
  
  


  <div *ngIf="valueSelected == 3">
    <section class="u-clearfix u-section-1" id="sec-b6f0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-custom-color-7 u-expanded-width-xs u-group u-radius-24 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-form u-palette-1-light-3 u-radius-14 u-form-1">
              <form #vehicleForm="ngForm" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                  <label for="tipoVehiculo" class="u-label">Tipo de vehiculo</label>
                  <select
                    [(ngModel)]="Datovehicular.tipoVehiculo"
                    id="tipoVehiculo"
                    name="tipoVehiculo"
                    class="u-border-1 u-border-grey-60 u-input u-input-rectangle"
                    required
                  >
                    <option value="" disabled selected>Seleccione un tipo de vehículo</option>
                    <option *ngFor="let tipoVehiculo of vehiculo" [value]="tipoVehiculo">{{ tipoVehiculo }}</option>
                  </select>
                  <div *ngIf="vehicleForm.controls.tipoVehiculo && vehicleForm.controls.tipoVehiculo.errors?.required">
                    <p class="error-message">Seleccione un tipo de vehículo.</p>
                  </div>
                </div>
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                  <label for="marca" class="u-label">Marca del automotor</label>
                  <input
                    [(ngModel)]="Datovehicular.marca"
                    type="text"
                    placeholder="Ej: Ford"
                    id="marca"
                    name="marca"
                    class="u-border-1 u-border-grey-60 u-input u-input-rectangle"
                    required
                  >
                  <div *ngIf="vehicleForm.controls.marca && vehicleForm.controls.marca.errors?.required">
                    <p class="error-message">Ingrese la marca del automotor.</p>
                  </div>
                </div>
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-3">
                  <label for="modelo" class="u-label">Modelo del automotor</label>
                  <input
                    [(ngModel)]="Datovehicular.modelo"
                    type="text"
                    placeholder="Ej: F100"
                    id="modelo"
                    name="modelo"
                    class="u-border-1 u-border-grey-60 u-input u-input-rectangle"
                    required
                  >
                  <div *ngIf="vehicleForm.controls.modelo && vehicleForm.controls.modelo.errors?.required">
                    <p class="error-message">Ingrese el modelo del automotor.</p>
                  </div>
                </div>
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-3">
                  <label for="modelo" class="u-label">Año del automotor</label>
                  <input
                    [(ngModel)]="Datovehicular.ano"
                    type="text"
                    placeholder="Ej: 1998"
                    id="ano"
                    name="ano"
                    class="u-border-1 u-border-grey-60 u-input u-input-rectangle"
                    required
                  >
                  <div *ngIf="vehicleForm.controls.modelo && vehicleForm.controls.modelo.errors?.required">
                    <p class="error-message">Ingrese el año del automotor.</p>
                  </div>
                </div>
                <div class="u-form-group u-form-name u-label-top u-form-group-4">
                  <label for="patente" class="u-label">Patente</label>
                  <input
                    [(ngModel)]="Datovehicular.patente"
                    type="text"
                    placeholder="Ingrese la patente del vehiculo"
                    id="patente"
                    name="patente"
                    class="u-border-1 u-border-grey-60 u-input u-input-rectangle"
                    required
                  >
                  <div *ngIf="vehicleForm.controls.patente && vehicleForm.controls.patente.errors?.required">
                    <p class="error-message">Ingrese la patente del vehículo.</p>
                  </div>
                  <div *ngIf="vehicleForm.controls.patente && vehicleForm.controls.patente.errors?.pattern">
                    <p class="error-message">La patente debe tener al menos 6 caracteres alfanuméricos.</p>
                  </div>
                </div>
              
                <div (click)="enviarF()" class="u-align-center u-form-group u-form-submit u-label-top">
                  <a  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-13 u-btn-1">Enviar<br>
                  </a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
  
              </form>
            </div>
          </div>
        </div>
   
      </div>
    </section>
    
  </div>



</ion-content>
  