<app-header></app-header>
<ion-content padding class="background2" >

  <div class="container">
    <div class="wrapper">
      <ul id="progressbar">
        <li class="active">Personales</li>
        <li class="active">Foto de Perfil</li>
        <li>Perfil</li>
      </ul>
      <form class="form-wrapper">
        <fieldset class="section is-active">
          <ul class="steps">
            <li class="is-active">Datos vehicular</li>
          </ul>
          <ion-list class="tipoV">
            <ion-item >
              <ion-select placeholder="Tipo de vehiculo">
                <ion-select-option value="Utilitario">Utilitario</ion-select-option>
                <ion-select-option value="Camioneta">Camioneta</ion-select-option>
                <ion-select-option value="Camion">Camion</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <input type="text" name="vehiculo" id="vehiculo" placeholder="Marca del vehiculo">
          <input type="file" name="name" id="name" placeholder="Patente del automotor">
          <input type="text" name="dni" id="dni" placeholder="DNI">
          <input type="button"  name="next" class="button2" value="Atras" (click)="atras()"  />
          <input type="button"  name="next" class="button2" value="Siguiente"  (click)="siguiente()"  />
          
        </fieldset>
</form>
    </div>
  </div>
</ion-content>