<app-header></app-header>
<ion-content padding class="background2" >

    <div class="container">
      <div class="wrapper">
        <ul id="progressbar">
          <li class="active">Personales</li>
          <li>Opcionales</li>
          <li>Perfil</li>
        </ul>
        <form class="form-wrapper">
          <fieldset class="section is-active">
            <ul class="steps">
              <li class="is-active">Formulario para Usuarios</li>
            </ul>
            <input  [(ngModel)]="registerU.nombre" type="text" name="name"  placeholder="Nombre" required="">
            <input  [(ngModel)]="registerU.apellido" type="text" name="apellido"  placeholder="Apellido" required="">
            <input  [(ngModel)]="registerU.dni" type="text" name="dni" placeholder="DNI" required="">
            <input  [(ngModel)]="registerU.edad" type="text" name="edad" placeholder="Edad" required="">
            <input  [(ngModel)]="registerU.domicilio" type="text" name="domicilio"  placeholder="Domicilio" required="">
            <input  [(ngModel)]="registerU.telefono" type="text" name="telefono"  placeholder="Telefono" required="">
            <input  [(ngModel)]="registerU.email" type="text" name="email"  placeholder="Email"  required="">
            <input  [(ngModel)]="registerU.password" type="password" name="contraseña"  placeholder="Contraseña"  required="">
            <input type="button"  name="next" class="button2" value="Atras" (click)="atras()"  />
            <input type="button"  name="next" class="button2" value="Siguiente"  (click)="siguiente()"  />
            
          </fieldset>
  </form>
      </div>
    </div>
  </ion-content>