<app-header></app-header>

<ion-content  class="background2">
  <!-- <app-profile  ></app-profile> -->
  <app-home-fletero *ngIf="login == true && rol == 'Fletero'"></app-home-fletero>
  <!-- <app-precios *ngIf="login == true && rol == 'Usuario'"></app-precios> -->
  <app-home-user *ngIf="login == true && rol == 'Usuario'"></app-home-user>
  <!-- <app-anuncios></app-anuncios> -->
  <!-- <ion-title *ngIf="login == true && rol == 'Fletero'">Hola Fletero</ion-title> -->

  <!-- <app-map-screen></app-map-screen> -->
</ion-content>
<app-tabs-u ></app-tabs-u>