<app-header></app-header>

<ion-content  class="background2">

  <div >
    <ion-segment  (ionChange)="segmentChanged($event)" [value]="valueSelected" scrollable="true" color="dark">
      <ion-segment-button  value="1">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Chat Virtual</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Historial de Fletes</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="3">
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>Fletes disponibles</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  
  
    <div class="center" *ngIf="valueSelected == 1">
      <h1>Hola1</h1>
      <app-paso1></app-paso1>
    </div>
    <div class="center" *ngIf="valueSelected == 2">
      <h1>Hola2</h1>
      <app-form1></app-form1>
    </div>
    <div class="center" *ngIf="valueSelected == 3">
      <h1>Hola3</h1>
    </div>
  </div>

    <!-- <app-map-screen></app-map-screen> -->
</ion-content>
