.segments{
  width: 100%;
}

.backg{
  width: 100%;
}



       /*Media Querie*/
       @media only screen and (min-width : 150px) and (max-width : 530px){

        .segments{
          width: 100%;
        }
    
        }