.segments{
  // column-gap: 360px;
  // margin-left: 50px;

}



.background2{
  --ion-background-color: linear-gradient(90deg, rgba(183,181,226,1) 0%, rgba(41,174,228,1) 0%, rgba(12,49,62,1) 0%, rgba(6,102,80,1) 50%, rgba(12,49,62,1) 100%);
  }


       /*Media Querie*/
       @media only screen and (min-width : 150px) and (max-width : 1660px){

        .segments{
          column-gap: 10px;
          margin-left: 0px;
        }
    
        }































        .fleteros-table {
          width: 100%;
          border-collapse: collapse;
        }
        
        .fleteros-table th, .fleteros-table td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
        }
        
        .fleteros-table th {
          background-color: #f76e6e;
          text-align: left;
        }
        
        .fleteros-table tr:hover {
          background-color: #f3a8a8;
        }
        
        .toggle-button {
          padding: 6px 12px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        .toggle-button:hover {
          background-color: #0056b3;
        }
        /* Estilos CSS existentes aquí */
        .options-button {
          cursor: pointer;
        }
        
        .menu {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .menu button {
          width: 100%;
          text-align: left;
          padding: 10px 20px;
          background-color: inherit;
          border: none;
          cursor: pointer;
        }
        
        .menu button:hover {
          background-color: #ddd;
        }
        