<!-- <section *ngIf="DatosU" class="u-align-center-lg u-align-center-md u-align-center-xl u-align-center-xs u-align-left-sm u-clearfix u-section-1" id="carousel_4a3c">
  <div  class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-1" data-lang-en="​My name is ​Nat ​Norton.
<br>Digital Product Designer">Perfil</h2>
    <div class="u-border-7 u-border-grey-10 u-image u-image-circle u-image-1" data-image-width="501" data-image-height="501" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
    <h2 class="u-align-center u-text u-text-2" data-lang-en="​My name is ​Nat ​Norton.
<br>Digital Product Designer">{{DatosU.nombre}}<br>{{DatosU.apellido}}</h2>
    <h5 class="u-align-center u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-lang-en="​Head of Design Studio">Usuario</h5>
    <a  class="u-active-none u-border-2 u-border-active-palette-1-light-1 u-border-hover-palette-1-light-1 u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-light-3 u-btn u-button-style u-hover-none u-none u-text-active-grey-30 u-text-body-alt-color u-text-hover-grey-25 u-btn-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="../../../../assets/imagesProfile/3447476-457ca6c1.png" alt=""></span>&nbsp;Chatea ahora
    </a>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div style="margin: 10%;" class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../../assets/imagesProfile/1250592-1cc8e92b.png" alt=""></span>
            <h4 class="u-text u-text-4" data-lang-en="​Graphic Design">Contacto</h4>
            <h3 class="u-text u-text-5">+54 {{DatosU.telefono}}</h3>
              <h3 class="u-text u-text-6">Email: {{DatosU.email}}</h3>
          </div>
        </div>
        <div style="margin: 10%;" class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div  tyle="margin: 10%;" class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../../assets/imagesProfile/4552640-50f2d8fb.png" alt=""></span>
            <h4 class="u-text u-text-8" data-lang-en="​Software"> Datos personales</h4>
            <h3 class="u-text u-text-10">Edad: {{DatosU.edad}}</h3>
            <h3 class="u-text u-text-11">Domicilio: {{DatosU.domicilio}}</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</section> -->


<section *ngIf="DatosU" class="u-clearfix u-section-1" id="sec-e785">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-border-7 u-border-grey-10 u-image u-image-circle u-image-1" data-image-width="501" data-image-height="501" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
    <h2 class="u-align-center u-text u-text-1" data-lang-en="​My name is ​Nat ​Norton.
<br>Digital Product Designer">{{DatosU.nombre}}  {{DatosU.apellido}}</h2>
    <h5 class="u-align-center u-hidden-xs u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-lang-en="​Head of Design Studio">Rol</h5>
    <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../../assets/imagesProfile/1250592-1cc8e92b.png" alt=""></span>
            <h4 class="u-text u-text-3" data-lang-en="​Graphic Design">Contacto</h4>
            <h3 class="u-text u-text-5"> {{DatosU.telefono}}</h3>
            <h3 class="u-text u-text-6"> {{DatosU.email}}</h3>
          </div>
        </div>
        <div class="u-align-center u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-video-cover u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-custom-item u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="../../../../assets/imagesProfile/4552640-50f2d8fb.png" alt=""></span>
            <h4 class="u-text u-text-8" data-lang-en="​Software">Personales</h4>
            <h3 class="u-text u-text-10"> {{DatosU.edad}}</h3>
            <h3 class="u-text u-text-11"> {{DatosU.domicilio}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
