.card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: auto; /* Ajuste automático de la altura */
  border-radius: 20px;
  box-shadow: 0 15px 37.5px 7.5px rgba(0, 0, 0, 0.2);
  background: #94f1b4;
  overflow: hidden;
  padding-bottom: 20px; /* Añadir padding para espaciar el contenido */
}

.ds-top {
  position: relative;
  width: 100%;
  height: 80px;
  background: rgb(27, 132, 8);
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  color: white; /* Color del texto del icono */
  display: flex;
  align-items: center;
  gap: 5px; /* Espaciado entre el texto y el icono */
}

.avatar-holder {
  position: relative;
  margin: 20px auto; /* Centrar la imagen verticalmente */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 7.5px #151515,
              inset 0 0 0 7.5px #000000;
  background: white;
  overflow: hidden;
  display: flex; /* Usar flexbox para centrar la imagen */
  align-items: center;
  justify-content: center;
}

.avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Añadir padding para espaciar el contenido */
}

.info h2 {
  margin-bottom: 10px;
  color: #000;
}

.info p {
  margin: 5px 0;
  color: #333;
}

.button {
  position: absolute;
  margin: auto;
  padding: 16px;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}

.ds-info {
  position: absolute;
  margin: auto;
  top: 160px;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: 40px;
  display: flex;
}

.ds-skill {
  position: absolute;
  margin: auto;
  bottom: 25px;
  right: 0;
  left: 20px;
  width: 300px;
  height: 150px;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 75%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 40px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: white;
  background: crimson;
}
