<section *ngIf="DatosU" >


  <div class="card">
    <div class="ds-top"></div>
    <div class="avatar-holder">
      <img [src]="DatosU.image">
    </div>
    <div class="name">
      <H2 href="https://codepen.io/AlbertFeynman/" target="_blank">{{DatosU.nombre}} {{DatosU.apellido}}</H2>
      <H3 title="Followers"><i class="fas fa-users"></i> <span class="followers">Edad: {{DatosU.edad}} años</span></H3>
      <H2>Domicilio: <i class="fa fa-code" aria-hidden="true"></i></H2>
      <div class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosU.domicilio}} </H3>
      </div>
      <H2>Correo Electronico: <i class="fa fa-code" aria-hidden="true"></i></H2>
      <div *ngIf="DatosG" class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosG.email}} </H3>
      </div>
      <H2>Telefono: <i class="fa fa-code" aria-hidden="true"></i></H2>
      <div class="skill html">
        <H3><i class="fab fa-html5"></i> {{DatosU.telefono}} </H3>
      </div>
    </div>
  </div>
 
</section>